body{
  margin: 0;
  padding: 0;
  background-color: rgb(243, 215, 243);
}
.heading{
  margin-top: 10vh;
  margin-left: 35vw;
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 3px;
}
.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
input{
  width: 50%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  margin: 25px 15px;
}